
.parallax_banner{
	padding-top:200px;
	background-image: url("../img/russia_wallpaper.jpg");

	/* Altura do banner */
	height: 600px;

	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.banner_logo{
	display: block;
    margin-left: auto;
    margin-right: auto;
}


.form-background{
	background-color: #56A6EF;
}
.breadcrumb{
	margin-top: 10px;
}
/*form usado para cadastrar usuario e imovel*/
#form-cadastro{
	margin-top: 70px;
	margin-bottom: 20px;
	padding: 5px;
	background-color: #fcfdff;
}
/*Anunciar Imovel*/
#imovel-endereco-form{
	
}
#imovel-caracteristicas-form{
	display: none;
}
#label-caracteristicas{
	display: none;
}
#imovel-contato-form{
	display: none;
}
#label-contato{
	display: none;
}
#email-warning{
	display: none;
}
#cep-warning{
	display: none;
}
#cidade-warning{
	display: none;
}
#bairro-warning{
	display: none;
}
#rua-warning{
	display: none;
}
#area-warning{
	display: none;
}
#aluguel-warning{
	display: none;
}
#quartos-warning{
	display: none;
}
#banheiros-warning{
	display: none;
}
#tel-warning{
	display: none;
}
#email-warning{
	display: none;
}
#password-warning{
	display: none;
}
i.icon-red {
    color: #A93A40;
}
/**/
#radioBtn-1 .notActive{
    color: #3276b1;
    background-color: #fff;
}
#radioBtn-2 .notActive{
    color: #3276b1;
    background-color: #fff;
}
.invalid {
    color: #A93A40;
}
.valid {
    color: green;
}
#reclamacoes-body{
	margin-top: 100px;
}
.card{
	margin-top:5px;
}